div{
    text-align: center;
}

img{
    height: 40px ;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto 0 auto;
    margin-top: 10px;
}

th, td {
    padding: 15px;
}

th {
    background: #2D2D2A;
    color: whitesmoke;
    font-weight: 500;
}

label {
    text-align: end;
    margin-top: 5px;
    font-weight: 500;
}
.form-group {
    margin: 0 auto 0 auto;
    padding: 10px;
}

h1{
    text-align: center;
}

button {
    margin: 10px;
}
form {
    width: 400px;
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
}

h2 {
    text-align: center;
}

select, input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    align-items: center;
}

span {
    position: absolute;
    color: red;
    margin: 5 20px;
}
.addButton{
    margin: 10px;
    margin-left: 0;
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.addButton :hover{
    background-color: #4CAF50;
}

